<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="MDWUConsole"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%-1level] %logger{0}: %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="ru.blogic.muzedodevwebutils" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="MDWUConsole" />
    </root>
</configuration>