//@import 'bootstrap-less/bootstrap/bootstrap.less';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';
//@body-bg: #eeeeee;

.component-app {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .nav-tabs {
    font-size: 18px;
  }

  > .tab-content {
    margin-top: 10px
  }
}

.component-overview {
  min-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  &-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
  }

  &-textarea {
    max-height: 500px;
  }
}

.component-server {
  display: flex;
  justify-content: center;

  &-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;


    &-textarea {
      max-height: 400px;
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      &-error {
        color: indianred;
      }

      &-delay {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-textarea {
          width: 100px;

        }
      }

      &-buttons {
        display: flex;

        & > * {
          margin-left: 10px;
        }
      }
    }
  }
}

.component-overview-server {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 5px;
  min-width: 300px;

  .form-switch {
    & > * {
      opacity: 1 !important;
    }
  }

  &-insides {
    display: flex;
    flex-direction: column;
  }
}