//@import 'bootstrap-less/bootstrap/bootstrap.less';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';
//@body-bg: #eeeeee;

.comp-app {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .nav-tabs {
    font-size: 18px;
  }

  > .tab-content {
    margin-top: 5px
  }
}

.comp-overview {
  min-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  > .comp-col {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > .comp-textarea {
      width: 500px;
      max-height: 500px;
      letter-spacing: -0.5px;
      font-family: monospace;
    }
  }
}

.comp-server {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-server-control {
  display: flex;
  justify-content: center;
  flex-direction: column;

  > .comp-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    > .comp-textarea {
      max-height: 500px;
      letter-spacing: -0.5px;
      font-family: monospace;
    }

    > .comp-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      > .comp-delay {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        > .comp-textarea {
          width: 100px;
        }
      }

      > .comp-buttons {
        display: flex;

        > * {
          margin-left: 10px;
        }
      }
    }

    > .comp-error {
      color: indianred;
    }
  }
}

.comp-overview-server {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  min-width: 300px;
  padding: 5px 10px;

  > .comp-enabled {
    position: relative;
    float: right;
  }

  > .comp-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    > .comp-id {
      font-size: 16px;
      color: black;
    }

    > .comp-content {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      border-left: 1px solid var(--bs-border-color);
      width: 100%;

      > .comp-row {
        > .comp-status {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          color: black;
          font-size: 14px;
          letter-spacing: 0.2px;

          > .comp-status-bold {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.comp-server-configs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .comp-bigtextarea {
    width: 800px;
    font-size: 10px;
    letter-spacing: -0.5px;
    font-family: monospace;
    white-space: nowrap;
  }

  .comp-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 5px;

    > .comp-button-container {
      display: flex;
      height: 50px;
      gap: 5px;
      margin-top: 5px;
    }
  }
}

.comp-server-logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .comp-bigtextarea {
    width: 1000px;
    font-size: 10px;
    letter-spacing: -0.5px;
    font-family: monospace;
  }

  .comp-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 5px;

    > .comp-button-container {
      display: flex;
      height: 65px;
      gap: 5px;
      margin-top: 5px;
    }
  }
}